# > Proxy_Rule (强制走代理的特定 IP 段)
IP-CIDR, 72.1.153.0/24, Proxy_Rule, no-resolve
IP-CIDR, 82.23.97.0/24, Proxy_Rule, no-resolve
IP-CIDR, 82.26.114.211/32, Proxy_Rule, no-resolve
IP-CIDR, 96.62.181.158/32, Proxy_Rule, no-resolve
IP-CIDR, 192.53.137.160/32, Proxy_Rule, no-resolve
IP-CIDR, 192.53.67.104/32, Proxy_Rule, no-resolve
IP-CIDR, 82.21.11.211/32, Proxy_Rule, no-resolve