# > Rule_Update
HOST-SUFFIX, raw.githubusercontent.com, Rule_Update
HOST-SUFFIX, gist.githubusercontent.com, Rule_Update
HOST-SUFFIX, githubusercontent.com, Rule_Update
HOST-SUFFIX, github.com, Rule_Update
HOST-SUFFIX, whatshub.top, Rule_Update

HOST-KEYWORD, github, Rule_Update
HOST-KEYWORD, githubusercontent, Rule_Update
HOST-KEYWORD, whatshub, Rule_Update