# > Talkatone 去广告/防追踪
HOST-SUFFIX, ads.inmobi.com, REJECT
HOST-SUFFIX, tappx.com, REJECT
HOST-SUFFIX, criteo.com, REJECT
HOST-SUFFIX, pubmatic.com, REJECT
HOST-SUFFIX, smaato.net, REJECT
HOST-SUFFIX, amazon-adsystem.com, REJECT
HOST-SUFFIX, googleads.g.doubleclick.net, REJECT
HOST-SUFFIX, adsappier.com, REJECT
HOST-SUFFIX, appier.net, REJECT
HOST-SUFFIX, appiersig.com, REJECT

# > Talkatone 核心服务与通话服务器
HOST-SUFFIX, tktn.be, Talkatone
HOST-SUFFIX, tktn.at, Talkatone
HOST-SUFFIX, talkatone.com, Talkatone
HOST-SUFFIX, agkn.com, Talkatone
HOST-SUFFIX, cohere.com, Talkatone
HOST-SUFFIX, crashlytics.com, Talkatone
HOST-SUFFIX, inner-active.mobi, Talkatone
HOST-SUFFIX, inmobi.com, Talkatone
HOST-SUFFIX, ip-api.com, Talkatone
HOST-SUFFIX, kochava.com, Talkatone
HOST-SUFFIX, mobilefuse.com, Talkatone

# > Talkatone 语音 IP 段
IP-CIDR, 50.117.27.0/24, Talkatone, no-resolve
IP-CIDR, 69.46.75.0/24, Talkatone, no-resolve
IP-CIDR, 205.164.56.0/24, Talkatone, no-resolve
IP-CIDR, 63.251.124.0/24, Talkatone, no-resolve