# NAME: xiaohongshu
# AUTHOR: blackmatrix7 (Modified V5)
# UPDATED: 2026-06-11

HOST-SUFFIX,jxnceee.com,xiaohongshu
HOST-SUFFIX,apppush-rws.xiaohongshu.com,xiaohongshu
HOST,edith.xiaohongshu.com,xiaohongshu
HOST,xiaohongshu.com,xiaohongshu
HOST,t2.xiaohongshu.com,xiaohongshu
HOST,apm-fe.xiaohongshu.com,xiaohongshu
HOST,gator.volces.com,xiaohongshu
HOST,mcs.zijieapi.com,xiaohongshu
HOST,dns.weixin.qq.com.cn,xiaohongshu
HOST,cn-beijing.log.aliyuncs.com,xiaohongshu
HOST,px.effirst.com,xiaohongshu
HOST,s-gm.mmstat.com,xiaohongshu
HOST-KEYWORD,xiaohongshu,xiaohongshu
HOST-KEYWORD,xhscdn,xiaohongshu
HOST-SUFFIX,fengkongcloud.com,xiaohongshu
HOST-SUFFIX,xhscdn.com,xiaohongshu
HOST-SUFFIX,xhscdn.net,xiaohongshu
HOST-SUFFIX,xiaohongshu.com,xiaohongshu